body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2020/04/12/18/14/background-5035259_1280.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #000000;
    color: aliceblue;
}

table, th, td {
    border: 6px solid #ffffff;
    padding: 10px;
    text-align: left;
    color: aliceblue;
    font-size: 30px;
    background-image: url("https://image.winudf.com/v2/image/Y29tLlBSSVNTSS5XYWxscGFwZXIuQmxhY2suQmxhY2tCYWNrZ3JvdW5kV2FsbHBhcGVySERfc2NyZWVuXzNfMTUyOTQ1MzU1OF8wMDg/screen-3.webp?fakeurl=1&type=.webp");
}

button {
    display: block;
    margin-top: 10px;
}

form, fieldset{
    font-family: Comic Sans MS, Comic Sans, cursive;
    border: 2px solid #ffffff;
    padding: 10px;
    margin-top: 30px;
    color: aliceblue;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/833/489/non_2x/black-abstract-background-with-diamond-shape-layers-vector.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

label {
    font-family: Impact, fantasy;
    display: block;
    margin-bottom: 6px;
    color: aliceblue;
}

input[type="text"] {
    font-family: Snell Roundhand, cursive;
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5lIw4FZ_UL38X85GgNDRTpGCNjYjsFg_XYA&usqp=CAU");
    color: rgb(0, 0, 0);
}