body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2020/04/12/18/14/background-5035259_1280.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #000000;
    color: aliceblue;
}

table, th, td {
    border: 6px solid #ffffff;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}

button {
    display: block;
    margin-top: 10px;
}

form, fieldset{
    font-family: Comic Sans MS, Comic Sans, cursive;
    border: 2px solid #ffffff;
    padding: 10px;
    margin-top: 30px;
    color: aliceblue;
}

label {
    font-family: Impact, fantasy;
    display: block;
    margin-bottom: 6px;
    color: aliceblue;
}

input[type="text"] {
    font-family: Snell Roundhand, cursive;
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p3/6469230-abstrato-branco-e-cinza-gradiente-linhas-fundo-gratis-vetor.jpg");
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}